pipeline/pl_tutorial007_demo2_switch_condition.json
{
	"name": "pl_tutorial007_demo2_switch_condition",
	"properties": {
		"activities": [
			{
				"name": "Switch based on file ending",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Set file_name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@split(variables('file_name'),'.')[1]",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "csv",
							"activities": [
								{
									"name": "csv",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "json",
							"activities": [
								{
									"name": "json",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "xml",
							"activities": [
								{
									"name": "xml",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "Error",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					]
				}
			},
			{
				"name": "Set file_name",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_name",
					"value": "file1.json"
				}
			}
		],
		"variables": {
			"file_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "tutorial007"
		},
		"annotations": [],
		"lastPublishTime": "2025-08-17T13:55:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}